.container{
  max-width: 400px;
}
.form-control{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
}
.btn-primary{
  margin-right: 20px;
}
img{
  margin-right: 20px;
}